<div class="row">
  <div class="col-md-12">
    <!--Sidebar content-->

    <p>
      Search:
      <input ng-model="$ctrl.query" />
    </p>

    <p>
      Sort by:
      <select ng-model="$ctrl.orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </p>

  </div>
</div>
<div class='row'>
    <div ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
        class="thumbnail phone-list-item col-md-3">
      <a href="#!/phones/{{phone.id}}" class="thumb">
        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
      </a>
      <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
      <p>{{phone.snippet}}</p>
    </div>
  </div>
</div>
