/* app css stylesheet */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

#shopping-cart-container .amount {
  font-weight: bold;
}

#shopping-cart-container .amount-description {
  padding: 10px 5px;
}

.phone-list-item {
}

.add-to-cart-btn {
  margin-bottom: 10px;
}

.bg-info {
    padding: 15px;
}

.phone-images img {
  display: block;
  margin: auto;
}

.phone-list-item a > img {
  height: 300px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .phone-list-item a > img {
      height: 120px;
  }
  .phone-list-item {
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .phone-list-item a > img {
      height: 150px;
  }
  .phone-list-item {
    height: 300px;
  }
}
