<div class="row">
  <div class="col-md-12">
    <h1>Shopping Cart</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="shopping-cart-checkout-btn-container">
      <checkout-btn ng-if="$ctrl.phones.length > 0"></checkout-btn>
    </div>
    <p ng-if="$ctrl.phones.length > 0">Your shopping cart items:</p>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div ng-if="$ctrl.phones.length === 0">Your shopping cart is empty! Browse our <a href="#!/phones">products</a>.</div>
    <div ng-repeat="phone in $ctrl.phones track by phone.id"
      class="thumbnail row">
      <div class="col-md-2">
        <a href="#!/phones/{{phone.id}}" class="thumb">
          <img ng-src="{{phone.images[0]}}" alt="{{phone.name}}" />
        </a>
      </div>
      <div class="col-md-8">
        <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
        <p>{{ phone.description }}</p>
      </div>
      <div class="col-md-2 bg-info">
        <p>Price: {{ phone.amount }} x {{ phone.price }} &euro;</p>
        <p>Total: <span class="amount">{{ phone.amount * phone.price }} &euro;</span></p>
        <shopping-cart-add-remove-btn phone-id="{{ phone.id }}" btn-type="remove" text="-"></shopping-cart-add-remove-btn>
        <shopping-cart-add-remove-btn phone-id="{{ phone.id }}" btn-type="add" text="+"></shopping-cart-add-remove-btn>
      </div>
    </div>
    <div ng-if="$ctrl.phones.length > 0" class="row">
      <div class="col-md-12">
        <div class="pull-right" style="font-weight: bold;">
          Total: {{ $ctrl.totalPrice }} &euro;
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

